.grosTitre, .titre, .titreColor{
	color: #0EB2AD !important;
}
.saisie{
	color: #0EB2AD !important;
}
.bouton, .boutonHover:hover{
	background-color: #0EB2AD !important;
	color: #000000 !important;
}
.bouton:hover{
	opacity:0.5 !important;
}
.backColorTransp{
	background-color:#00000011 !important;
}
.rectBord{
	border-color: #0EB2AD !important;
	color: #0EB2AD !important;
	background-color: #e7e7e7 !important;
}
.bord{
    border-color: #0EB2AD !important;
}