.grosTitre, .titre, .titreColor{
	color: olive !important;
}
.saisie{
	color: olive !important;
}
.bouton, .boutonHover:hover{
	background-color: olive !important;
	color: #ffffff !important;
}
.bouton:hover{
	opacity:0.5 !important;
}
.backColorTransp{
	background-color:#00000011 !important;
}
.rectBord{
	border-color: olive !important;
	color: dimgrey !important;
	background-color: silver !important;
}
.bord{
    border-color: olive !important;
}