.emetteur, .vers, .destinataire {
	color: #ffffff !important;
    border-color: #ffffff !important;
}
.messageTotal{
	background-color:#ffffff22 !important;
}
.gauche {
	border-color: #d40000 !important;
    color: #d40000 !important;
    background-color: #080538 !important;
}
.droite {
	border-color: #d40000 !important;
    color: #d40000 !important;
    background-color: #080538 !important;
}
#envoi_message, #bouton_test, #combo, .clicClient:hover {
	background-color: #ffffff !important;
	color: #000000 !important;
}
#message{
	color: #080538 !important;
}
.grosTitre, .titre{
	color: #ffffff !important;
}