body{
	margin: 0px;
	background: white url(/image/background.png) repeat;
}
#canv{
	position: absolute;
	display: block;
	width: 100%;
	overflow: hidden;
}
#paper{
	position:absolute;
	/*height: 5000px;
	width : 5000px;*/
	margin: 0px;
	padding: 0px;
}
#cursors .cursor{
	position:absolute;
	width:15px;
	height:22px;
	background:url('/emote/Thumbs-Up.png') no-repeat -4px 0;
}
#all{
	font-family: Roboto;
}
#gauche {

}
#droite {
	text-align: center;
}

@media (min-width: 768px){
	.container .rectBord{
		margin: 30px 0px;
	}
}
#top{
	position:fixed;
	bottom:0px;
	width:100%;
	height:50px;
	line-height:50px;
	opacity:0.5;
	background-color:#ffffff;
	text-align:center;
	vertical-align:middle;
	font-size: 50px;
}
#top:hover{
	opacity:1;
}
.rectBord {
	border: 5px olive solid;
	border-radius: 10px;
}

/****** Tout ce qui est dans l'envoi de message (formulaire) ******/

#avatar {
	height:100px;
}
.height_avatar {
	height:100px;
}
#pseudo {

}
.vers {

}
.grosTitre {
	font-size: 25px;
}
.titre {
	font-size: 20px;
	height:25px;
}
#combo{
	width: 100px;
	height: 25px;
	font-size: 1em;
	border: 0px;
}
.colAlignCenter{
	text-align: center;
}

#message {
	white-space: pre-wrap;
	word-wrap: break-word;
	text-align: justify;
	width:100%;
	/*width: calc(100% - 105px) !important;*/
	min-height: 50px;
	height: 50px;
	border: 0px;
}
#envoi_message, #bouton_test, .upload-btn {
	width: 100px;
	height: 50px;
	font-size: 1em;
	border: 0px;
	vertical-align: top;
	margin:0px 1px;
}
/* #envoi_message:hover{ */
	/* opacity:0.5; */
/* } */
#zone_client_ecrit{

}
#upload-input {
  display: none;
}
.progress, .progress-bar{
	font-size: 1em !important;
	height:25px !important;
}
#upload-input {
  display: none;
}
.upload-btn {
  color: #ffffff;
  background-color: #F89406;
  border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}


/****** Zone liste utilisateurs ******/

#zone_util {

}
.clicClient {
	line-height: 50px;
}
.avatarMini {
	height:50px;
}
.pseudoMini {

}

/****** inherit et relative pour passer au dessus du canvas de dessin ******/
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	position: static !important;
}
.message, .grosTitre, .titre, .clicClient, #combo, #envoi_message, #bouton_test, #zone_client_ecrit, .info, #message, .date, .style, .upload-btn{
	position: relative !important;
}

/****** Tous ce qui est dans les messages ecrits ******/

#zone_chat{
	display: block;
}
#zone_chat .emetteur, #zone_chat .vers, #zone_chat .destinataire {
	border: 3px olive solid;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
#zone_chat .emetteur{
	border-bottom: 0px;
}
#zone_chat .vers {
	border: 0px;
}
#zone_chat .destinataire {
	border-top: 0px;
}
#zone_chat .destTous {
	border-color: transparent !important;
}
#zone_chat .date{
	margin-left: 10px;
	font-style: italic;
}
#zone_chat .info{
	margin: 10px;
	font-style: italic;
	white-space: pre-wrap;
    word-wrap: break-word;
	width: fit-content;
}
#zone_chat .messageTotal{
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	margin: 10px;
	width:auto;
}
#zone_chat .enteteMessage{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid;
}
#zone_chat .message{
	/*position: relative;*/
	white-space: pre-wrap;
	word-wrap: break-word;
	text-align: justify;
	width: fit-content;
}

#zone_chat .fichier{
	font-style: bold;
	font-size: 20px;
	margin:10px;
	padding:10px;
}
#zone_chat .fichier a, #zone_chat .fichier a:hover{
	color:inherit;
	text-decoration:none;
}
#zone_chat .fichierIcon{
	margin-right:10px;
}

/****** Pour theme ******/

.grosTitre, .titre, .titreColor{
	color: olive;
}
.saisie{
	color: olive;
}
.bouton, .boutonHover:hover{
	background-color: olive;
	color: #ffffff;
}
.bouton:hover{
	opacity:0.5;
}
.backColorTransp{
	background-color:#00000011;
}
.rectBord{
	border-color: olive;
	color: dimgrey;
	background-color: silver;
}
.bord{
    border-color: olive;
}

/****** THEME ******/

#allColor{
	display: inline-block;
}
#allColor div{
	/*position: relative;*/
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 2.5px;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}
#allColor div:hover{	
	/*width: 45px;
	height: 45px;
	margin: -2.5px;
	transition: width 0.5s;
	transition: height 0.5s;
	transition: margin 0.5s;*/
	-webkit-transform: scale(1.4) rotate(315deg);
	-moz-transform: scale(1.4) rotate(315deg);
	-ms-transform: scale(1.4) rotate(315deg);
	-o-transform: scale(1.4) rotate(315deg);
	transform: scale(1.4) rotate(315deg);    	
}
#styleNorm{
	background-color: silver;
	border: 5px olive solid;
	border-radius: 10px;
}
#styleBleu{
	background-color: #9ed2ff;
	border: 5px #495ac7 solid;
	border-radius: 10px;
}
#styleRouge{
	background-color: #f58b8b;
	border: 5px #b31414 solid;
	border-radius: 10px;
}
#styleVert{
	background-color: #7df085;
	border: 5px #0c821d solid;
	border-radius: 10px;
}
#styleOrange{
	background-color: #fad882;
	border: 5px #f0ae08 solid;
	border-radius: 10px;
}
#styleRose{
	background-color: #ffc2f1;
	border: 5px #d127a9 solid;
	border-radius: 10px;
}
#styleMatrix{
	background-color: #000000;
	border: 5px #00ff11 solid;
	border-radius: 10px;
}
#styleElisath{
	background-color: #e7e7e7;
	border: 5px #0EB2AD solid;
	border-radius: 10px;
}
#styleFF7{
	background-color: #000080;
	border: 5px silver ridge;
	border-radius: 10px;
}
#stylePSG{
	background-color: #080538;
	border: 5px #d40000 solid;
	border-radius: 10px;
}
#styleHalloween{
	background-color: #000000;
	border: 5px #ff8c00 solid;
	border-radius: 10px;
}


/* .btn:focus, .upload-btn:focus{ */
  /* outline: 0 !important; */
/* } */

/* .upload-btn { */
  /* color: #ffffff; */
  /* background-color: #F89406; */
  /* border: none; */
/* } */

/* #upload-btn:hover, */
/* #upload-btn:focus, */
/* #upload-btn:active, */
/* #upload-btn.active { */
  /* color: #ffffff; */
  /* background-color: #FA8900; */
  /* border: none; */
/* } */

/* h4 { */
  /* padding-bottom: 30px; */
  /* color: #B8BDC1; */
/* } */

/* .glyphicon { */
  /* font-size: 5em; */
  /* color: #9CA3A9; */
/* } */

/* h2 { */
  /* margin-top: 15px; */
  /* color: #68757E; */
/* } */

/* .panel { */
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
/* } */

/* #upload-input { */
  /* display: none; */
/* } */

/* @media (min-width: 768px) { */
  /* .main-container { */
    /* width: 100%; */
  /* } */
/* } */

/* @media (min-width: 992px) { */
  /* .container { */
    /* width: 450px; */
  /* } */
/* } */