.emetteur, .vers, .destinataire {
	color: silver !important;
    border-color: silver !important;border-style: ridge !important;
}
.messageTotal{
	background-color:#ffffff22 !important;
}
#gauche {
	border: 5px silver ridge !important;
    color: #ffffff !important;
    background-color: #000080 !important;
}
.droite {
	border: 5px silver ridge !important;
    color: #ffffff !important;
    background-color: #000080 !important;
}
#envoi_message, #bouton_test, #combo, .clicClient:hover {
	background-color: #00e6e6 !important;
	color: #000000 !important;
}
#message{
	color: #000080 !important;
}
h2, .emetteur, .vers, .destinataire{
	color: #00e6e6 !important;
}