.emetteur, .vers, .destinataire {
	color: olive !important;
    border-color: olive !important;
}
.messageTotal{
	background-color:#00000011 !important;
}
.gauche {
	border-color: olive !important;
	color: dimgrey !important;
	background-color: silver !important;
}
.droite {
	border-color: olive !important;
	color: dimgrey !important;
	background-color: silver !important;
}
#envoi_message, #bouton_test, #combo, .clicClient:hover {
	background-color: olive !important;
	color: #ffffff !important;
}
#message{
	color: olive !important;
}
.grosTitre, .titre{
	color: olive !important;
}