.grosTitre, .titre, .titreColor{
	color: #0c821d !important;
}
.saisie{
	color: #0c821d !important;
}
.bouton, .boutonHover:hover{
	background-color: #0c821d !important;
	color: #ffffff !important;
}
.bouton:hover{
	opacity:0.5 !important;
}
.backColorTransp{
	background-color:#00000022 !important;
}
.rectBord{
	border-color: #0c821d !important;
	color: #080808 !important;
	background-color: #7df085 !important;
}
.bord{
    border-color: #0c821d !important;
}