.grosTitre, .titre, .titreColor{
	color: #d127a9 !important;
}
.saisie{
	color: #d127a9 !important;
}
.bouton, .boutonHover:hover{
	background-color: #d127a9 !important;
	color: #000000 !important;
}
.bouton:hover{
	opacity:0.5 !important;
}
.backColorTransp{
	background-color:#00000022 !important;
}
.rectBord{
	border-color: #d127a9 !important;
	color: #080808 !important;
	background-color: #ffc2f1 !important;
}
.bord{
    border-color: #d127a9 !important;
}