.emetteur, .vers, .destinataire {
	color: #9c7105 !important;
    border-color: #9c7105 !important;
}
.messageTotal{
	background-color:#00000022 !important;
}
#gauche {
	border-color: #f0ae08 !important;
    color: #080808 !important;
    background-color: #fad882 !important;
}
.droite {
	border-color: #f0ae08 !important;
    color: #080808 !important;
    background-color: #fad882 !important;
}
#envoi_message, #bouton_test, #combo, .clicClient:hover {
	background-color: #f0ae08 !important;
	color: #ffffff !important;
}
#message{
	color: #9c7105 !important;
}
h2{
	color: #9c7105 !important;
}