.emetteur, .vers, .destinataire {
	color: #495ac7 !important;
    border-color: #495ac7 !important;
}
.messageTotal{
	background-color:#00000022 !important;
}
#gauche {
	border-color: #495ac7 !important;
    color: #404040 !important;
    background-color: #9ed2ff !important;
}
.droite {
	border-color: #495ac7 !important;
    color: #404040 !important;
    background-color: #9ed2ff !important;
}
#envoi_message, #bouton_test, #combo, .clicClient:hover {
	background-color: #495ac7 !important;
	color: #ffffff !important;
}
#message{
	color: #495ac7 !important;
}
h2{
	color: #495ac7 !important;
}