.emetteur, .vers, .destinataire {
	color: #0c821d !important;
    border-color: #0c821d !important;
}
.messageTotal{
	background-color:#00000022 !important;
}
.gauche {
	border-color: #0c821d !important;
    color: #080808 !important;
    background-color: #7df085 !important;
}
.droite {
	border-color: #0c821d !important;
    color: #080808 !important;
    background-color: #7df085 !important;
}
#envoi_message, #bouton_test, #combo, .clicClient:hover{
	background-color: #0c821d !important;
	color: #ffffff !important;
}
#message{
	color: #0c821d !important;
}
.grosTitre, .titre{
	color: #0c821d !important;
}