.grosTitre, .titre, .titreColor{
	color: #495ac7 !important;
}
.saisie{
	color: #495ac7 !important;
}
.bouton, .boutonHover:hover{
	background-color: #495ac7 !important;
	color: #ffffff !important;
}
.bouton:hover{
	opacity:0.5 !important;
}
.backColorTransp{
	background-color:#00000022 !important;
}
.rectBord{
	border-color: #495ac7 !important;
	color: #404040 !important;
	background-color: #9ed2ff !important;
}
.bord{
    border-color: #495ac7 !important;
}