html {
    background: white url(/image/background.png) repeat;
	/*overflow: hidden;*/
}
body{
	margin: 0px;
}
#canv{
	position: absolute;
	display: block;
	width: 100%;
	overflow: hidden;
}

#paper{
	height: 10000px;
	width : 2000px;
	margin: 0px;
	padding: 0px;
}

#cursors .cursor{
	position:absolute;
	width:15px;
	height:22px;
	background:url('/emote/Thumbs-Up.png') no-repeat -4px 0;
}

/*#zone_chat h3{
	font-size: 21px;
	margin-bottom: 5px;
}*/

#all{
	font-family: Roboto;
	margin:auto;
}
@media only screen and (min-width: 800px){
	#all {
		width:85%;
	}
}
@media only screen and (max-width: 800px){
	#all {
		width:100%;
	}
}
#gauche {
	background-color: silver;
	color: grey;
	padding:25px;
	border: 5px olive solid;
	border-radius: 10px;	
}
#droite {
	width:calc(225px - 5px) !important;
	margin-top:25px;
	text-align: center;
}
.droite {
	margin-bottom:5px;
	padding-top:5px;
	padding-bottom:25px;
	background-color: silver;
	color: grey;
	border: 5px olive solid;
	border-radius: 10px;
}
@media only screen and (min-width: 600px){
	#gauche {
		width:calc(100% - 60px - 225px) !important;
		margin-top:25px;
		margin-bottom:25px;
		float:left;
	}
	#droite {
		float:right;
	}
}
@media only screen and (max-width: 600px){
	#gauche {
		width:calc(100% - 60px) !important;
		float:center;
	}
	#droite {
		width:calc(100% - 0px) !important;
		margin-top: 0px;
		float:center;
	}
}

/****** Tout ce qui est dans l'envoi de message (formulaire) ******/

#avatar {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 10px;
}
#h {
	position: relative;
	display: inline-block;
	margin:0px;
	margin-left:25px;
	padding:0px;
}
#zone_util {
	width: 100%;
	display: inline-block;
	text-align: center;
}
.clicClient:hover {
	background-color: olive;
	color:#ffffff;
}
.avatarMini {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.hMini {
	position: relative;
	display: inline-block;
	margin:0px;
	/*margin-left:25px;*/
	padding:0px;
	width:calc(100% - 100px) !important
}
.user {
	display: inline-block;
}
#message {
	white-space: pre-wrap;
	word-wrap: break-word;
	text-align: justify;
	width: calc(100% - 125px) !important;
	min-height: 50px;
	border: 0px;
	vertical-align: top;
	padding: 0px 5px;
}
#envoi_message, #bouton_test {
	/*font-weight: bold;
	font-variant: small-caps;*/
	position: relative;
	width: 100px;
	height: 50px;
	background-color: olive;
	color: #ffffff;
	font-size: 1em;
	border: 0px;
	vertical-align: top;
	/*float: right;*/
}
#bouton_test {
	margin-top: 10px;
}
#formHautGauche{
	width: calc(100% - 115px) !important;
	display: inline-block;
}
#formHautDroite{
	display: inline-block;
	width:100px;
	/*float:right;*/
	vertical-align: bottom;
	margin-bottom: 10px;
}
#combo{
	text-align: center;
	position: relative;
	width: 100px;
	height: 25px;
	background-color: olive;
	color: #ffffff;
	font-size: 1em;
	border: 0px;
}
#vers {
	margin: 0;
}
#zone_client_ecrit{
	width: calc(100% - 115px) !important;
	display: inline-block;
	position: relative;
}

/****** relative pour passer au dessus du canvas de dessin ******/

#formulaire_chat, #zone_chat .message, #zone_chat span, #zone_chat em, .clicClient{
	position: relative;
}

/****** Tous ce qui est dans les messages ecrits ******/

#zone_chat em, #zone_chat .message{
	/*position: relative;*/
	white-space: pre-wrap;
	word-wrap: break-word;
	text-align: justify;
	width: fit-content;
}
#zone_chat .emetteur, #zone_chat .vers, #zone_chat .destinataire {
	font-size: 21px;
	color: olive;
	border: 3px olive solid;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
#zone_chat .emetteur{
	border-bottom: 0px;
}
#zone_chat .vers {
	border: 0px;
}
#zone_chat .destinataire {
	border-top: 0px;
}
#zone_chat .destTous {
	border-color: transparent !important;
}
#zone_chat .date{
	margin-left: 10px;
}
#zone_chat .messageTotal{
	background-color:#00000011;
	border-radius: 10px;
	padding: 1px 10px 10px 10px;
	margin-bottom: 10px;
}

/****** THEME ******/

#allColor{
	display: inline-block;
}

#allColor div{
	position: relative;
	display: inline-block;
	width: 35px;
	height: 35px;
	margin: 2.5px;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}
#allColor div:hover{	
	/*width: 45px;
	height: 45px;
	margin: -2.5px;
	transition: width 0.5s;
	transition: height 0.5s;
	transition: margin 0.5s;*/
	-webkit-transform: scale(1.4) rotate(315deg);
	-moz-transform: scale(1.4) rotate(315deg);
	-ms-transform: scale(1.4) rotate(315deg);
	-o-transform: scale(1.4) rotate(315deg);
	transform: scale(1.4) rotate(315deg);    	
}
#styleNorm{
	background-color: silver;
	border: 5px olive solid;
	border-radius: 10px;
}
#styleBleu{
	background-color: #9ed2ff;
	border: 5px #495ac7 solid;
	border-radius: 10px;
}
#styleRouge{
	background-color: #f58b8b;
	border: 5px #b31414 solid;
	border-radius: 10px;
}
#styleVert{
	background-color: #7df085;
	border: 5px #0c821d solid;
	border-radius: 10px;
}
#styleOrange{
	background-color: #fad882;
	border: 5px #f0ae08 solid;
	border-radius: 10px;
}
#styleRose{
	background-color: #ffc2f1;
	border: 5px #d127a9 solid;
	border-radius: 10px;
}
#styleMatrix{
	background-color: #000000;
	border: 5px #00ff11 solid;
	border-radius: 10px;
}
#styleElisath{
	background-color: #e7e7e7;
	border: 5px #0EB2AD solid;
	border-radius: 10px;
}
#styleFF7{
	background-color: #000080;
	border: 5px silver ridge;
	border-radius: 10px;
}
#stylePSG{
	background-color: #080538;
	border: 5px #d40000 solid;
	border-radius: 10px;
}
#styleHalloween{
	background-color: #000000;
	border: 5px #ff8c00 solid;
	border-radius: 10px;
}