.grosTitre, .titre, .titreColor{
	color: #d40000 !important;
}
.saisie{
	color: #d40000 !important;
}
.bouton, .boutonHover:hover{
	background-color: #ffffff !important;
	color: #000000 !important;
}
.bouton:hover{
	opacity:0.5 !important;
}
.backColorTransp{
	background-color:#ffffff22 !important;
}
.rectBord{
	border-color: #d40000 !important;
	color: #ffffff !important;
	background-color: #080538 !important;
}
.bord{
    border-color: #d40000 !important;
}