.emetteur, .vers, .destinataire {
	color: #0EB2AD !important;
    border-color: #0EB2AD !important;
}
.messageTotal{
	background-color:#00000022 !important;
}
.gauche {
	border-color: #0EB2AD !important;
    color: #0EB2AD !important;
    background-color: #e7e7e7 !important;
}
.droite {
	border-color: #0EB2AD !important;
    color: #0EB2AD !important;
    background-color: #e7e7e7 !important;
}
#envoi_message, #bouton_test, #combo, .clicClient:hover {
	background-color: #0EB2AD !important;
	color: #000000 !important;
}
#message{
	color: #909691 !important;
}
.grosTitre, .titre{
	color: #909691 !important;
}